<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.server.repo.HardEasyDao">

    <!-- 1은  hard 2는 easy -->
    <insert id="hardChoice">
        INSERT INTO hardeasy (board_id,user_id,grade)
        VALUES (#{boardId},(select user_id from users WHERE email=#{email}),1)
    </insert>

    <select id="checkChoice" resultType="hardEasy">
        select * from hardeasy WHERE board_id=#{boardId} AND user_id=(select user_id from users WHERE email=#{email})
    </select>

    <select id="easyToHardChangeChoice">
        UPDATE hardeasy
        SET grade = 1
        WHERE board_id=#{boardId} AND user_id=(select user_id from users WHERE email=#{email})
    </select>

    <select id="hardToEasyChangeChoice">
        UPDATE hardeasy
        SET grade = 2
        WHERE board_id=#{boardId} AND user_id=(select user_id from users WHERE email=#{email})
    </select>

    <insert id="easyChoice">
        INSERT INTO hardeasy (board_id,user_id,grade)
        VALUES (#{boardId},(select user_id from users WHERE email=#{email}),2)
    </insert>

    <delete id="deleteChoice">
        DELETE FROM hardeasy
        WHERE board_id=#{boardId} AND user_id=(select user_id from users WHERE email=#{email})
    </delete>

    <select id="updateHardChoice" resultType="int">
        select count(*) from hardeasy WHERE board_id=#{boardId} AND grade=1
    </select>

    <select id="updateEasyChoice" resultType="int">
        select count(*) from hardeasy WHERE board_id=#{boardId} AND grade=2
    </select>
</mapper>
