<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.server.repo.BoardDao">

    <!--  게시글 전체 조회  -->
    <select id="selectAll" resultType="boardsimple">
        select board_id,
        title,
        nickname,
        create_at,
        thumbnail_image,
        cooking_time,
        grade
        from boards join users on boards.user_id = users.user_id
    </select>

    <select id="searchAllByFood" resultType="boardsimple">
        select board_id,
        title,
        nickname,
        create_at,
        thumbnail_image,
        cooking_time,
        grade
        from boards join users on boards.user_id = users.user_id
        where
        <foreach collection="foodList" item="food" open="(" close=")" separator="and">
            ingredient LIKE CONCAT('%', #{food}, '%')
        </foreach>
    </select>

    <!--  게시글 번호로 조회  -->
    <select id="selectOneBoardByBoardId" parameterType="int" resultType="board">
        select *,(select nickname from users where user_id=boards.user_id) as nickname,
        (select count(*) from hardeasy where grade = 2) as easyCount,(select count(*) from hardeasy where grade = 1) as difficultyCount
        from boards
        where board_id=#{boardId}
        
    </select>

    <select id="selectStepsInBoardByBoardId" parameterType="int" resultType="step">
        select step_id, board_id, step_number, image, description, type
        from steps
        where board_id = #{boardId}
        order by step_number
    </select>

    <!--  유저아이디로 게시글 조회  -->
    <select id="selectBoardsByUserId" parameterType="int" resultType="board">
        select *
        from boards
        where user_id=#{userId}
    </select>

    <!--  관심 게시글들 유저 아이디로 조회  -->
    <select id="selectInterestBoardsByUserId" parameterType="int" resultType="board">
        select boards.user_id as user_id,
        boards.title as title,
        title,
        ingredient,
        content,
        create_at,
        update_at,
        grade,
        cooking_time,
        thumbnail_image
        from interest_boards
        join boards on interest_boards.board_id = boards.board_id
        where interest_boards.user_id = #{userId}
    </select>

    <!--  게시글 내 단계의 태그 저장할때 태그가 있는 지 확인!  -->
    <select id="selectTagExist" parameterType="tag" resultType="tag">
        select *
        from tags
        where tag_name like concat('%' , #{tagName}, '%')
    </select>

    <select id="getTagList" resultType="tag">
        select t.tag_id,t.tag_name
        from step_tags st,tags t
        where st.tag_id = t.tag_id and step_id=#{selectedStepId}
    </select>

    <!--  게시글 작성  -->
    <insert id="insertBoard" parameterType="board">
        <selectKey order="AFTER" resultType="int" keyProperty="boardId">
            select max(board_id) from boards
        </selectKey>
        insert into boards (user_id, title, ingredient, content, grade, cooking_time, thumbnail_image)
        values (#{userId}, #{title}, #{ingredient}, #{content}, #{grade}, #{cookingTime}, #{thumbnailImage})
    </insert>

    <delete id="deleteBoard">
        DELETE FROM boards
        WHERE board_id=#{boardId}
    </delete>


    <!--  게시글 내 단계 저장  -->
    <insert id="insertStep" parameterType="step">
        insert into steps (board_id, image, description, step_number,type)
        values (#{boardId}, #{image}, #{description}, #{stepNumber},#{type})
        <selectKey order="AFTER" resultType="int" keyProperty="stepId">
            select max(step_id) from steps
        </selectKey>
    </insert>

    <!--  게시글 내 단계의 태그 저장  -->
    <insert id="insertTag" parameterType="tag">
        insert into tags(tag_name)
        values (#{tagName})
        <selectKey order="AFTER" resultType="int" keyProperty="tagId">
            select max(tag_id) from tags
        </selectKey>
    </insert>

    <!--  게시글과 태그 관계 테이블에 추가  -->
    <insert id="insertStepTags" parameterType="stepTag">
        insert into step_tags(step_id,tag_id)
        values (#{stepId},#{tagId})
    </insert>

</mapper>