<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.server.repo.CommentDao">

    <!--  게시글 번호로 댓글 조회  -->
    <select id="selectCommentsInBoardByBoardId" parameterType="int" resultType="comment">
        select users.nickname as nickname, comment_content, create_at,comment_id,users.user_id,users.email,board_id from comments
        join users on users.user_id = comments.user_id
        where comments.board_id=#{boardId}
    </select>

    <!-- 댓글 작성 -->
    <insert id="createCommentsInBoardByBoardId" parameterType="comment">
        insert into comments(user_id,board_id,comment_content)
        values ((select user_id from users where email=#{email}), #{boardId}, #{commentContent})
    </insert>

    <update id="updateCommentsInBoardByBoardId">
        UPDATE comments
        SET comment_content = #{commentContent}
        WHERE comment_id = #{commentId}
    </update>

    <delete id="deleteCommentsInBoardByBoardId">
        DELETE FROM comments
        WHERE comment_id=#{commentId}
    </delete>

</mapper>
